.root{
    font-family: 'Pokemon Solid', sans-serif;
                                                
}
body{
    background-color: #ECF2FF;
    font-family: 'Quicksand', sans-serif;
}
#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.titulo {
    color:  #E5D1FA;
    width: 310px;
    height: 50px;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 60px;
}
.subtitulo {
    font-size: 30px;
    color: #E3DFFD;
}
.tarjetas {
    display: flex;
    gap: 10px;
}
.tarjeta-de-mokepon{
    width: 200px;
    height: 150px;
    background-color:#FFF4D2;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.tarjeta-de-mokepon img{
    width: 120px;
}
input {
    display: none;
}
#boton-mascota{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid #E5D1FA;
    color: #E5D1FA;
    margin-top: 30px;
}